@media screen and (min-width: 1024px) {
    .container .box {
        width: 920px;
        height: 509px;
        display: flex;
    }

    .container .box .img-box {
        width: 40%;
    }

    .container .box .img-box .mob-img {
        width: 379px;
        height: 278px;
        left: -81px;
        top: 106px;
    }

    .container .box .img-box .mob-img-down {
        width: 345px;
        height: 278px;
        top: -66px;
        left: -46px;
    }

    .container .box .text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container .box .text-box h1 {
        text-align: start;
    }

    .container .box .text-box .questions .item p {
        font-size: 14px;
    }

    .container .box .text-box .questions .answer p {
        font-size: 12px;
    }

    .container .box .text-box .questions .item {
        padding: 15px 0;
    }

    .container .box .text-box .questions .answer {
        padding: 0;
    }

    .container .box .text-box .questions .line {
        width: 100%;
    }

    .container .box .text-box .questions .item p:hover {
        color: #F47B56;
    }
}